body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #333;
    color: lightgray;
}

table tbody tr td {
    padding: 2px 0;
    font-weight: 600;
}

.weapon-type-module:hover {
    background: #66A66F;
}
  
@media (max-width: 992px) {
    .smooth-scroll {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}